body {
  background: radial-gradient(#fff,#ffd6d6);
    font-family: 'Space Mono', monospace;
  }
  
   .navbar{
    color: black;
    align-items: center;
    display: flex;
    padding: 20px;
    
  }
  nav ul li:hover{
    border: solid; 
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
display: inline-block;  
margin-right: 20px
}
a{
  text-decoration: none;
  color: #555;;
}
p{
  color: #555;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 60px 0;
} 
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #ff523b;
padding: 8px 30px;
border-radius: 30px;

}

.header{
  background: radial-gradient(#fff,#ffd6d6);
}
.header row{
  margin-top: 70px;
}
#kontaktaoss{
  width: 120px;
  height: 50px;
  background-color: black;
  position: fixed;
  right: 25px;
  bottom: 0px;
  border-radius: 8px;
  text-align: center;
}
#kontaktaoss:hover{
  height: 60px;
  width: 130px;
  cursor: pointer;
}
/*för produkter*/
#products{
  display: grid;
  grid-template-columns: repeat(4 , 220);
  justify-items: center;
  margin-top: 30px;
  
  
  
}
#product{
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  
}
#description{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#sortbuttons {
  text-align: center;
}
#sortbuttons button{
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
}
#sortbuttons button:hover{
  color: #000; background: radial-gradient(#fff,#ffd6d6); 
}